@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: large;

}

h1{
    font-weight: bold;
    font-family: "Open Sans", sans-serif;

}

ul {

    font-size: large;
    font-family: "Open Sans", sans-serif;

}

table {
    font-family: "Open Sans", sans-serif;

    font-size: large;
    border-collapse:separate; 
    border-spacing: 1em;
}

input{
    font-size: large;
    font-family: "Open Sans", sans-serif;
    
}