.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    font-size: large;

}

ul {

    font-size: large;

}

table {

    font-size: large;
    border-collapse:separate; 
    border-spacing: 1em;
}

input{
    font-size: large;
}